<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Read more about ArcGIS Viewer for Flex - http://links.esri.com/flexviewer
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>
    <title>LAND INFORMATION PORTAL</title>
    <subtitle>St. Louis County, Minnesota</subtitle>
    <logo>assets/images/la.png</logo>
    <style>
        <colors>0xFFFFFF,0x333333,0x101010,0x000000,0xffffff</colors>
        <alpha>0.8</alpha>
        <font name="Myriad Web Pro" size="13"></font>
    </style>
    
    <geometryservice url="http://gis.stlouiscountymn.gov/arcgis/rest/services/Utilities/Geometry/GeometryServer" />
	<bing key="Ajm6CVlSoCbfdagQS4AsSiUYFxu0sxoc05XEsqNji7P9R0E0bM4DB4djiC747xak"/>
    <!-- UI elements -->
    <widget left="10"  top="50"    config="widgets/Navigation/NavigationWidget.xml" url="widgets/Navigation/NavigationWidget.swf"/>
    <widget right="0" bottom="0"   config="widgets/OverviewMap/OverviewMapWidget.xml" url="widgets/OverviewMap/OverviewMapWidget.swf"/>
    <widget right="20" top="55"    config="widgets/MapSwitcher/MapSwitcherWidget.xml" url="widgets/MapSwitcher/MapSwitcherWidget.swf"/>
    <widget left="0"   top="0"     config="widgets/HeaderController/HeaderControllerWidget.xml" url="widgets/HeaderController/HeaderControllerWidget.swf"/>
    <widget left="5" bottom="50"    config="widgets/Coordinate/CoordinateWidget.xml" url="widgets/Coordinate/CoordinateWidget.swf"/>
    

    <map wraparound180="true" initialextent="-10679623.4209 5870891.7487 -9899354.2362 6213941.1316" fullextent="-10679623.4209 5870891.7487 -9899354.2362 6213941.1316" top="40" addarcgisbasemaps="false"
    attributionvisible="false" esrilogovisible="false" minscale="1:4514">
    
    <lods>
    		<lod resolution="0.07461264922529845" scale="282"/>
			<lod resolution="0.1492252984505969" scale="564"/>-->
			<lod resolution="0.29858214164761665" scale="1128.4971760000001"/>
			<lod resolution="0.59716428355981721" scale="2256.994353"/>
			<lod resolution="1.19432856685505" scale="4513.988705"/>
			<lod resolution="2.38865713397468" scale="9027.977411"/>
			<lod resolution="4.77731426794937" scale="18055.954822"/>
			<lod resolution="9.55462853563415" scale="36111.909643"/>
			<lod resolution="19.1092570712683" scale="72223.819286"/>
			<lod resolution="38.2185141425366" scale="144447.638572"/>
			<lod resolution="76.4370282850732" scale="288895.277144"/>
			<lod resolution="152.874056570411" scale="577790.554289"/>
			<lod resolution="305.748113140558" scale="1155581.108577"/>
			<lod resolution="611.49622628138" scale="2311162.217155"/>
			<lod resolution="1222.99245256249" scale="4622324.434309"/>
    </lods>
        <basemaps>
        		<layer label="Bing Hybrid" type="bing" visible="true" style="aerialWithLabels" culture="en-US" icon="assets/images/bing_aerialWithLabels.png"/>
        		<layer label="Bing Aerial" type="bing" visible="false" style="aerial" culture="en-US" icon="assets/images/bing_aerial.png" />
        		<layer label="Bing Roads" type="bing" visible="false" style="road" culture="en-US" icon="assets/images/bing_road.png"/>
        		<layer label="Esri Streets" type="tiled" visible="false" url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer" icon="assets/images/basemap_streets.jpg"/>
	            <layer label="Esri Imagery"  type="tiled" visible="false" url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer" icon="assets/images/basemap_imagery.jpg"/>
	           	<layer label="USGS Topo" type="tiled" visible="false" url="http://server.arcgisonline.com/ArcGIS/rest/services/USA_Topo_Maps/MapServer" icon="assets/images/basemap_topographic.jpg"/>
	  			<layer label="2013 County Imagery" type="dynamic" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Pictometry_2013/MapServer" icon="assets/images/bsmp_CountyImagery.png"/> 
				
          </basemaps>
        <operationallayers>
          	<layer label="2013 Imagery" type="dynamic" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Pictometry_2013/MapServer"/>
			<layer label="General Structures"  type="dynamic" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Structures/MapServer"/>
			<layer label="QA-QC"  type="dynamic" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_QA_QC/MapServer"/>
			<layer label="Mining and Minerals" type="dynamic" imageformat="png32" visible="false"  url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_MiningMinerals/MapServer"/>
			<layer label="Environmental" type="dynamic" visible="false" imageformat="png32"  url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Environmental/MapServer"/>
			<!--<layer label="Zoning" type="dynamic" visible="false" imageformat="png32"  url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Zoning/MapServer"/>-->
			
			<layer label="Property Health Indicators" type="dynamic"  imageformat="png32" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_PropertyHealthIndicators/MapServer"/>
			<!--<layer label="Tax Forfeit Land Sales" type="dynamic" visible="false" imageformat="png32" 
			url="http://arcgiswaprod/ArcGIS/rest/services/Land/LandSales/MapServer"/>-->
			<layer label="Market Activity" type="dynamic" visible="false" imageformat="png32" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Market_Activity/MapServer"/>
			<layer label="2012 June Flood"  type="dynamic"  visible="false"  url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_FloodDamage/MapServer">
					<sublayer id="0" popupconfig="popups/PopUp_Land.xml"/>
	                <sublayer id="1" popupconfig="popups/PopUp_Land.xml"/>
					<sublayer id="2" popupconfig="popups/PopUp_PW.xml"/>
					<sublayer id="3" popupconfig="popups/PopUp_PW.xml"/>
	                <sublayer id="4" popupconfig="popups/PopUp_Private.xml"/>
					<sublayer id="5" popupconfig="popups/PopUp_Private.xml"/>
			</layer>
					
			
			
			<layer label="Cadastral" type="dynamic" visible="false" imageformat="png32"	url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Cadastral/MapServer">
				<sublayer id="30" popupconfig="popups/PopUp_ControlPoints.xml"/>
			</layer>	
			<layer label="Ownership" type="dynamic" imageformat="png32"  visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Ownership/MapServer"/>
			<layer label="Baselayers" type="dynamic" visible="true" url="http://arcgiswaprod/arcgis/rest/services/Planning/Portal_Base/MapServer">
				<sublayer id="0" popupconfig="popups/PopUp_Parcels.xml"/>
			</layer>
			<layer label="Administrative Boundaries"  type="dynamic" imageformat="png32" visible="false"  url="http://arcgiswaprod/arcgis/rest/services/Planning/Portal_Admin/MapServer"/>	
			<layer label="Addresing & Places Area 5" type="dynamic" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Addressing_and_PlacesArea5/MapServer">
				<sublayer id="1" popupconfig="popups/PopUp_MAR_Area5_DDP.xml"/>
				<sublayer id="3" popupconfig="popups/PopUp_MAR.xml"/>
				<sublayer id="4" popupconfig="popups/PopUp_MAR.xml"/>
				<sublayer id="5" popupconfig="popups/PopUp_MAR.xml"/>
			</layer>	
			<layer label="Addressing & Places Area 3/4"  type="dynamic"  visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Addressing_and_Places/MapServer">
				<sublayer id="1" popupconfig="popups/PopUp_MAR_Area34_DDP.xml"/>
				<sublayer id="3" popupconfig="popups/PopUp_MAR.xml"/>
				<sublayer id="4" popupconfig="popups/PopUp_MAR.xml"/>
				<sublayer id="6" popupconfig="popups/PopUp_MAR.xml"/>
				<sublayer id="7" popupconfig="popups/PopUp_MAR.xml"/>
				<sublayer id="9" popupconfig="popups/PopUp_MAR.xml"/>
			</layer>	
	
			<layer label="Addressing EDITS" type="dynamic" visible="false" imageformat="png32" url="http://arcgiswaprod/arcgis/rest/services/Planning/Portal_Addressing_and_Places_EDITS/MapServer"/>
				
			
			<!--<layer label="Addressing & Places"  type="dynamic" imageformat="png32" visible="false" url="http://nt-arcgis-prod/ArcGIS/rest/services/Planning/Portal_AddressingPlaces/MapServer"/>-->	
			<layer label="Labels" type="dynamic" visible="false" url="http://arcgiswaprod/ArcGIS/rest/services/Planning/Portal_Labels/MapServer"/>
        </operationallayers>
    </map>

    <!-- widgets organized into widget containers that manage close/open etc -->
    <!-- supported layout property options: horizontal(default)|float|vertical|fix-->
    <widgetcontainer layout="float">
        <widget label="Common Locations"         left="430" top="90"
                icon="assets/images/Flex-Bookmark-1.png"
                config="widgets/Bookmark/BookmarkWidget.xml"
                url="widgets/Bookmark/BookmarkWidget.swf"/>
        
        <widget label="Search" left="80" top="280"
                icon="assets/images/i_search.png"
                config="widgets/Search/SearchWidget_Louisville.xml"
                url="widgets/Search/SearchWidget.swf"/>
        <widget label="Earthquakes (GeoRSS)" left="410" top="280"
                icon="assets/images/i_rss.png"
                config="widgets/GeoRSS/GeoRSSWidget.xml"
                url="widgets/GeoRSS/GeoRSSWidget.swf"/>
        <widget label="Draw" left="60" top="400"
                icon="assets/images/i_draw2.png"
                config="widgets/Draw/DrawWidget.xml"
                url="widgets/Draw/DrawWidget.swf"/>
        <widget label="Print" left="390" top="400"
                icon="assets/images/i_print.png"
                config="widgets/Print/PrintWidget.xml"
                url="widgets/Print/PrintWidget.swf"/>

        <!--
        <widget label="My first widget"
                icon="assets/images/i_widget.png"
                config="widgets/Samples/HelloWorld/HelloWorldWidget.xml"
                url="widgets/Samples/HelloWorld/HelloWorldWidget.swf"/>
        -->
    </widgetcontainer>
    
</configuration>